<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사업자 조회페이지</title>
</head>
<body>
<div class="container">
    <div>
        <h2>조회페이지</h2>

        <p>사업자 휴폐업여부를 조회할 수 있는 페이지입니다. <br>
            현존 사업자는 '존재하는 사업자 목록'에 저장되고,<br>
            휴폐업 사업자는 '존재하지 않는 사업자 목록'에 저장됩니다.<br>
        </p>
        <form action="/afterLogin/search" method="post">
            <div class="form-group">
                <input type="text" id="business_num" name="business_num" placeholder="사업자번호를 입력하세요.">
                <br>
                <button type="submit">조회</button>
            </div>
        </form>
        <p>
            <a href="/afterLogin">돌아가기</a>
        </p>
    </div>
</div>
</body>
</html>